<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA ZERO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p id="titulo"  style="font-family: faberge; font-weight: bold;">TIPOS DE VIOLÊNCIA OBSTÉTRICA</p>
  <img id="imageminterrogacao" src="..\assets\Imagens\list.png"> 
  <hr>

  <p id="paragrafo">  A violência obstétrica pode se manifestar de diferentes formas, sendo importante destacar algumas delas:
  </p>
  <p id="tituloparagrafo">Violência física</p>
  <p id="paragrafo">  Inclui agressões físicas diretas, como empurrões, tapas, beliscões, uso excessivo de força durante procedimentos e manipulação brusca do corpo da mulher.
  </p>
  <p id="tituloparagrafo">Violência psicológica </p>
  <p id="paragrafo">Envolve atitudes e comportamentos que causam danos emocionais e psicológicos, como humilhação, ridicularização, intimidação, ameaças, coerção e pressão para a tomada de decisões.
  </p>
  <p id="tituloparagrafo">Violência verbal</p>
  <p id="paragrafo"> Caracteriza-se por palavras ofensivas, xingamentos, insultos, desqualificação da mulher, imposição de medo e desencorajamento.
  </p>
  <p id="tituloparagrafo"> Violência moral</p>
  <p id="paragrafo"> Refere-se à imposição de valores e crenças pessoais sobre a mulher, desconsiderando sua autonomia e liberdade de escolha.
  </p>
  <p id="tituloparagrafo"> Violência institucional</p>
  <p id="paragrafo">  Diz respeito às práticas e políticas de saúde que desrespeitam os direitos das mulheres, como a negação de informações adequadas, a imposição de procedimentos sem consentimento informado, a restrição do direito de ter um acompanhante presente, entre outros.
  </p>
  <p id="tituloparagrafo">Violência obstétrica de negligência</p>
  <p id="paragrafo"> Caracteriza-se pela omissão de cuidados adequados e necessários durante o pré-natal, parto e pós-parto, incluindo a falta de monitoramento adequado da saúde da mulher e do bebê, a falta de analgesia para alívio da dor, entre outros.
  </p>
  <p id="paragrafo">É importante ressaltar que essas formas de violência obstétrica podem ocorrer isoladamente ou em combinação, causando danos físicos, psicológicos e emocionais às mulheres. 
  </p>
  <p id="tituloparagrafo">Referências </p>
  <p id="referencias">- Diniz, S. G., et al. (2014). Violência obstétrica como questão para a saúde pública no Brasil. Ciência & Saúde Coletiva, 19(7), 1943-1952.
  </p>
  <p id="referencias">- Ministério da Saúde. (2014). Pré-natal e puerpério: atenção qualificada e humanizada - manual técnico. Brasília: Ministério da Saúde.
  </p>
  <p id="referencias">- World Health Organization. (2014). WHO statement on prevention and elimination of disrespect and abuse during facility-based childbirth. Geneva: World Health Organization.
  </p>

  <p id="tituloparagrafo">  Constrangimento e humilhações </p>

  <p id="paragrafo">O constrangimento e as humilhações são formas de violência obstétrica que causam danos emocionais e psicológicos às mulheres durante o parto e a assistência perinatal. Essas práticas desrespeitosas e abusivas podem incluir situações como xingamentos, depreciação, ridicularização e menosprezo por parte dos profissionais de saúde envolvidos no cuidado obstétrico.</p>
  
  <p id="tituloparagrafo">Exemplos de constrangimento e humilhações que podem ocorrer durante o parto incluem:
  </p>
  
  <p id="tituloparagrafo">Comentários depreciativos </p>
  <p id="paragrafo"> Profissionais de saúde fazem comentários negativos sobre o corpo da mulher, sua aparência física, peso ou características pessoais, causando constrangimento e diminuindo sua autoestima.
  </p>
  
  <p id="tituloparagrafo">Exposição desnecessária</p>
  <p id="paragrafo"> A mulher é exposta desnecessariamente diante de um número excessivo de pessoas, sem respeitar sua privacidade e intimidade.
  </p>

  <p id="tituloparagrafo"> Falta de respeito às escolhas da mulher</p>
  <p id="paragrafo"> Profissionais de saúde desconsideram as preferências e necessidades individuais da mulher, ignorando suas decisões e impondo procedimentos ou intervenções sem consentimento informado.
  </p>

  <p id="tituloparagrafo"> Comunicação agressiva </p>
  <p id="paragrafo">Os profissionais de saúde adotam uma linguagem agressiva, rude ou de menosprezo ao se dirigirem à mulher, causando desconforto e constrangimento.
  </p>

  <p id="paragrafo">Essas práticas de constrangimento e humilhação são violações dos direitos humanos e podem ter consequências negativas no bem-estar emocional e mental das mulheres, afetando sua experiência de parto e pós-parto. É fundamental combater essas formas de violência obstétrica, promovendo uma assistência humanizada e respeitosa, baseada no respeito aos direitos das mulheres e na autonomia de suas escolhas.
  </p>

  <p id="tituloparagrafo">Referências</p>

  <p id="referencias">- Diniz, S. G., et al. (2014). Violência obstétrica como questão para a saúde pública no Brasil. Ciência & Saúde Coletiva, 19(7), 1943-1952.
  </p>

  <p id="referencias">- Vargens, O. M. C., et al. (2018). Violência obstétrica na perspectiva das mulheres. Acta Paulista de Enfermagem, 31(4), 422-429.
  </p>


</ion-content>
