<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA ZERO</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <p id="titulo">O QUE É VIOLÊNCIA OBSTÉTRICA?</p>
  <img id="imageminterrogacao" src="..\assets\Imagens\question.png">
  <hr>
 
  <p id="paragrafo"> 
    A violência obstétrica é caracterizada pela adoção de atitudes abusivas,
    desrespeitosas e violentas durante o processo de assistência ao parto e ao 
    cuidado perinatal. Essa forma de violência ocorre quando os direitos das
     mulheres são desrespeitados, comprometendo sua dignidade, autonomia e
      integridade física e emocional.
    Essa violência pode ser categorizada como física, psicológica, verbal, moral, 
    institucional ou de negligência.
   A violência obstétrica pode ter sérias consequências para a saúde física e 
   emocional das mulheres, impactando negativamente sua experiência de parto, o
    vínculo com o bebê e a saúde pós-parto. É fundamental combater essa forma de 
    violência, promovendo uma assistência humanizada, respeitosa e baseada nos
     direitos das mulheres.
   </p>
     <br>

    <p id="tituloparagrafo">A dor fisiológica do parto</p>
    
    <p id="paragrafo">  A dor no trabalho de parto é um processo fisiológico e natural resultante dos estímulos sensoriais
     gerados, principalmente, pela contração uterina.
    Pode ser percebida como uma dor aguda ou transitória e repleta de subjetividades, isto é,
     cada organismo apresenta modulações diferentes à dor. Situações de estresse, medo, ansiedade, 
     desconfiança podem ser agravantes individuais da percepção da dor. 
    Medidas como proteção do ambiente do parto, a presença do acompanhante de livre escolha, condições 
    para que a mulher se sinta segura e acolhida podem contribuir para uma experiência menos dolorosa e
     mais positiva do parto.
    Métodos não farmacológicos para alívio da dor como banhos de água quente, massagens, técnicas
     respiratórias e de relaxamentos, práticas integrativas, podem ser ofertadas de acordo com o desejo 
     da mulher.
    O uso de analgesia não deve ser negado.</p>

    <p id="tituloparagrafo"> Referências</p>
    <p id="paragrafo">- Diniz, S. G., et al. (2014). Violência obstétrica como questão para a saúde pública no Brasil. Ciência & Saúde Coletiva, 19(7), 1943-1952.</p>
    <p id="paragrafo">- Ministério da Saúde. (2014). Pré-natal e puerpério: atenção qualificada e humanizada - manual técnico. Brasília: Ministério da Saúde.
    </p>
    <p id="paragrafo">- World Health Organization. (2014). WHO statement on prevention and elimination of disrespect and abuse during facility-based childbirth. Geneva: World Health Organization.
    </p>


  
  
</ion-content>
