<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA ZERO</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <p id="titulo" style="font-family: faberge; font-weight: bold;">O QUE É VIOLÊNCIA OBSTÉTRICA?</p>
  <img id="imageminterrogacao" src="..\assets\Imagens\question.png">  
  <hr>
 
  <p id="paragrafo"> 
    A violência obstétrica é caracterizada pela adoção de atitudes abusivas,
    desrespeitosas e violentas durante o processo de assistência ao parto e ao 
    cuidado perinatal. Essa forma de violência ocorre quando os direitos das
     mulheres são desrespeitados, comprometendo sua dignidade, autonomia e
      integridade física e emocional.
    Essa violência pode ser categorizada como física, psicológica, verbal, moral, 
    institucional ou de negligência.
   A violência obstétrica pode ter sérias consequências para a saúde física e 
   emocional das mulheres, impactando negativamente sua experiência de parto, o
    vínculo com o bebê e a saúde pós-parto. É fundamental combater essa forma de 
    violência, promovendo uma assistência humanizada, respeitosa e baseada nos
     direitos das mulheres.
   </p>
     <br>

    <p id="tituloparagrafo"> Referências</p>
    <p id="referencias">- Diniz, S. G., et al. (2014). Violência obstétrica como questão para a saúde pública no Brasil. Ciência & Saúde Coletiva, 19(7), 1943-1952.</p>
    <p id="referencias">- Ministério da Saúde. (2014). Pré-natal e puerpério: atenção qualificada e humanizada - manual técnico. Brasília: Ministério da Saúde.
    </p>
    <p id="referencias">- World Health Organization. (2014). WHO statement on prevention and elimination of disrespect and abuse during facility-based childbirth. Geneva: World Health Organization.
    </p>


  
  
</ion-content>
