<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <p id="titulo">O QUE É VIOLÊNCIA OBSTÉTRICA?</p>
  <img id="imageminterrogacao" src="..\assets\Imagens\question.png">
  <hr>

  <p id="paragrafo"> 
    Segundo o Ministério da Saúde, a violência obstétrica é uma violência de gênero, pois atinge
     diretamente as mulheres. Podendo ocorrer durante a gestação, parto e pós-parto. 
    É o desrespeito à mulher, à sua autonomia, ao seu corpo e aos seus processos reprodutivos,
     podendo manifestar-se por meio de violência verbal, física ou sexual e pela adoção de intervenções
      e procedimentos desnecessários e/ou sem evidências científicas. 
    Afeta negativamente a qualidade de vida das mulheres, ocasionando abalos emocionais, traumas,
     depressão, dificuldades na vida sexual, entre outros.</p>
     <br>

    <p id="tituloparagrafo">A dor fisiológica do parto</p>
    
    <p id="paragrafo">  A dor no trabalho de parto é um processo fisiológico e natural resultante dos estímulos sensoriais
     gerados, principalmente, pela contração uterina.
    Pode ser percebida como uma dor aguda ou transitória e repleta de subjetividades, isto é,
     cada organismo apresenta modulações diferentes à dor. Situações de estresse, medo, ansiedade, 
     desconfiança podem ser agravantes individuais da percepção da dor. 
    Medidas como proteção do ambiente do parto, a presença do acompanhante de livre escolha, condições 
    para que a mulher se sinta segura e acolhida podem contribuir para uma experiência menos dolorosa e
     mais positiva do parto.
    Métodos não farmacológicos para alívio da dor como banhos de água quente, massagens, técnicas
     respiratórias e de relaxamentos, práticas integrativas, podem ser ofertadas de acordo com o desejo 
     da mulher.
    O uso de analgesia não deve ser negado.</p>
  
  
</ion-content>
