<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA ZERO </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p id="titulo" style="font-family: faberge; font-weight: bold;">AVALIAÇÃO</p>  
  <img id="imagembalao" src="..\assets\Imagens\avaliacao.png">
  <hr>


<p id="paragrafo">Deseja avaliar uma instituição de saúde ou fazer uma denúncia de violência de violência obstétrica:</p>
<ion-button id="botao180"  fill="clear" href="https://forms.gle/Xa5LKEQUUtJuEkir8">Avalie uma Instituição de Saúde</ion-button>
 

</ion-content> 
