<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <p id="titulo">EXEMPLOS DA VIOLÊNCIA</p>
  <img id="imagemwarning" src="..\assets\Imagens\alert.png">
  <hr>

  <p id="tituloparagrafo">Sofrer xingamentos, humilhações e constrangimentos</p> 
  <p id="paragrafo">As relações humanas devem ser permeadas por respeito mútuo, não há justificativas para
   humilhações ou xingamentos.</p>
   <br>
   <p id="tituloparagrafo"> Realização de procedimentos desnecessários  </p>
   <p id="paragrafo">Pergunte sempre ao profissional que está acompanhando ao pré-natal e ao parto a justificativa dos 
  procedimentos a serem realizados e se existem alternativas que estejam mais próximas ao seu desejo.
   Toques excessivos, o sorinho (ocitocina) de rotina devem ser evitados, assim como raspagem de pelos
    pubianos e lavagem intestinal.</p>
    <br>
    <p id="tituloparagrafo"> Impedir a presença do acompanhante de livre escolha</p>
    <p id="paragrafo">A presença do acompanhante de livre escolha é garantida por lei. Não podendo haver distinção de
   gênero ou parentesco. A mulher tem direito ao acompanhante durante todo o período de pré-parto, 
   parto e pós-parto. Inclusive em cesarianas.</p>
  <p id="paragrafo" style="font-size: 15px;">*Se a mulher tiver uma doula, a mesma não substitui a presença do acompanhante de livre escolha.</p>
  <br>
  <p id="tituloparagrafo"> Impedir a mulher de alimentar-se</p>
  <p id="paragrafo">A mulher deve alimentar-se e ingerir líquidos para manter-se disposta e hidratada durante todo
   o período parto. Salvo exceções onde o jejum é prescrito 
  O jejum deve acontecer restritamente por orientações médicas.</p>
  <br>
  <p id="tituloparagrafo"> Impedir a mulher de escolher a posição de parto normal</p>
  <p id="paragrafo">A posição do parto deve ser de livre escolha da mulher de maneira que ela se sinta livre e confortável 
  para mudar de posição sempre que desejar. 
  É considerado violência obstétrica obrigar a mulher a parir em posição de litotomia (barriga para cima
   e pernas levantadas).</p>
  
   <p id="paragrafo" style="font-size: 15px;">*Existem situações que a mudança de posição pode ser sugerida pela equipe de saúde para facilita
  r a passagem do bebê durante o parto, em especial quando o bebê se encontra com a cabecinha mal p
  osicionada ou com distócia de ombro durante o período expulsivo.</p>
  
  <br>
  <p id="tituloparagrafo"> Solidão e abandono</p>
  <p id="paragrafo">Se a mulher deseja ficar sem acompanhante, seu desejo deve ser respeitado.
  Isso significa que ela deva ser abandonada pela equipe de saúde. Médicos, enfermeiros, técnicos
   e auxiliares de enfermagem estão na instituição para assisti-la e apoiá-la durante todo o período do
    parto (pré, parto e pós-parto).</p>
  
    <br>
    <p id="tituloparagrafo"> Decisão sobre o tipo parto sem esclarecimento</p>
    <p id="paragrafo">A via de parto deve ser decidida pela mulher de maneira consciente, o profissional de saúde deve 
  durante o pré-natal esclarecer as dúvidas que possam ocorrer e apontar os riscos e benefícios para a
   mãe e o bebê.</p>
   <p id="paragrafo" style="font-size: 15px;">*Existem situações em que a via de parto planejada pode não ocorrer devido as situações emergenciais,
   como por exemplo, o sofrimento fetal. Ainda nessas ocasiões a mulher deve receber orientações claras 
   sobre os riscos e as próximas condutas.</p>
   <br>
   <p id="tituloparagrafo"> Impedir contato pele a pele com o recém-nascido</p>
   <p id="paragrafo"> salvo exceções onde seja necessário intervenções de 
  emergência.
  Contato pele e amamentação na primeira hora de vida devem ser incentivados sempre que estiver tudo
   bem com a mãe e o bebê independente da via de parto (vaginal ou cesariana).</p>
   <br>
   <p id="tituloparagrafo"> Realizar procedimentos sem evidências cientificas</p>
   <p id="paragrafo"> A manobra de Kristeller consiste em pressionar com uso da força a parte superior do útero afim de
   auxiliar a expulsão do bebê, essa técnica é considera obsoleta, violenta e não existem evidências 
   científicas que comprovem seu benefício, devendo ser abolida.
  A episiotomia (pique) é procedimento cirúrgico, que consiste em realizar uma incisão entre a vagina
   e o ânus com o objetivo de aumentar a abertura vaginal para a passagem do bebê. Contudo as evidências
    cientificas mostram que a episiotomia de rotina não evita traumas perineais ou traz benefícios para
     a mãe e o bebê, seu uso deve se restringir à situações emergenciais, onde existe risco de morte e 
     nunca deve ser realizada sem o consentimento da mulher.</p>
  
     <br>
     <p id="tituloparagrafo">Não ter a privacidade preservada</p>
     <p id="paragrafo"> portas abertas, múltiplos profissionais (ou ainda pessoas que não compõem a equipe de parto)
   adentrando o ambiente do parto, exposição desnecessária do corpo da mulher.</p>
  
  
</ion-content>
