<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <p id="titulo">EXEMPLOS DA VIOLÊNCIA</p>
  <img id="imagemwarning" src="..\assets\Imagens\alert.png">
  <hr>

  <p id="tituloparagrafo">  Procedimentos que configuram violência obstétrica</p> 
  
<p id="paragrafo">A violência obstétrica pode ocorrer por meio de uma série de procedimentos inadequados e desrespeitosos durante o parto e a assistência perinatal. Alguns exemplos de procedimentos que podem ser considerados violência obstétrica incluem:
</p>
<p id="paragrafo">1. Episiotomia desnecessária (pique): Realização da incisão cirúrgica no períneo durante o parto vaginal, sem uma indicação clínica adequada, causando dor, desconforto e aumentando o risco de complicações.
</p>
<p id="paragrafo">2. Cesariana desnecessária: Realização de uma cesariana sem indicação médica ou sem o consentimento informado da mulher, sujeitando-a a procedimentos cirúrgicos invasivos e riscos desnecessários.
</p>
<p id="paragrafo">3. Restrição de movimentos durante o trabalho de parto: Impedir a mulher de assumir a posição mais confortável e natural para ela durante o trabalho de parto, prejudicando seu conforto e progresso do parto.
</p>
<p id="paragrafo">4. Falta de alívio da dor adequado: Negar ou limitar o acesso a métodos de alívio da dor durante o trabalho de parto, como analgesia peridural, mesmo quando solicitado pela mulher.
</p>
<p id="paragrafo">5. Manuseio brusco do recém-nascido: Manipulação excessivamente áspera ou bruta do recém-nascido logo após o parto, causando desconforto e lesões desnecessárias.
</p>
<p id="paragrafo">6. Separação precoce mãe-bebê: Separar a mãe do recém-nascido imediatamente após o parto, sem uma razão médica justificável, prejudicando o vínculo e a amamentação.
</p>
<p id="paragrafo">7. Não respeitar a privacidade e a intimidade da mulher: Realizar procedimentos íntimos, como exames vaginais ou suturas, sem garantir a privacidade adequada e sem o consentimento informado da mulher.
</p>
<p id="paragrafo">8. Comunicação desrespeitosa: Utilizar uma linguagem ofensiva, agressiva ou desrespeitosa ao se dirigir à mulher durante o parto, causando angústia emocional.
</p>
<p id="paragrafo">9- Manobra de Kristeller:  Essa manobra envolve a aplicação de pressão direta no abdômen da mulher durante o trabalho de parto, com o objetivo de auxiliar na expulsão do bebê.
  *A manobra de Kristeller não é recomendada pelas principais diretrizes médicas e organizações de saúde, como a Organização Mundial da Saúde (OMS) e a Federação Internacional de Ginecologia e Obstetrícia (FIGO). Essas instituições alertam para os riscos associados a essa prática, que incluem danos ao útero, à mãe e ao bebê, como fraturas ósseas e lesões graves.
  </p>
<p id="paragrafo">É importante ressaltar que a interpretação de um procedimento como violência obstétrica pode depender do contexto, do consentimento informado e da individualidade da mulher. O respeito aos direitos das mulheres, à autonomia e à dignidade é essencial para evitar práticas de violência obstétrica e promover uma assistência perinatal humanizada.
</p>

<p id="tituloparagrafo"> Referências</p>

<p id="paragrafo">- Diniz, S. G., et al. (2014). Violência obstétrica como questão para a saúde pública no Brasil. Ciência & Saúde Coletiva, 19(7), 1943-1952.
</p>
<p id="paragrafo">- Ministério da Saúde. (2014). Pré-natal e puerpério: atenção qualificada e humanizada - manual técnico. Brasília: Ministério da Saúde.
</p>
<p id="paragrafo">- World Health Organization. (2018). WHO recommendations: Intrapartum care for a positive childbirth experience. Geneva: World Health Organization.
</p>
<p id="paragrafo">- Federation of Gynecology and Obstetrics. (2015). FIGO consensus guidelines on intrapartum fetal monitoring: Cardiotocography. International Journal of Gynecology & Obstetrics, 131(1), 13-24.
</p>







  
</ion-content>
