<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <p id="titulo">MEUS DIREITOS</p>
  <img id="imagemjustice" src="..\assets\Imagens\balance.png"> 
  <hr>
  
  <p id="tituloparagrafo">Em relação à Parturiente</p>

  <p id="paragrafo"> A mulher tem direito a um ambiente sossegado, privativo, arejado e sem ruídos durante todas as etapas do nascimento do bebê.</p>
  
<p id="paragrafo"> A gestante tem o direito de saber, desde o ato da sua inscrição no programa de assistência pré-natal, em qual maternidade realizará o parto e será atendida nos casos de intercorrência. (Lei do vínculo à maternidade – lei nº 11.634/2007.</p>

<p id="paragrafo">A parturiente tem o direito de saber sobre seu estado de saúde e sobre os procedimentos indicados.</p>

<p id="paragrafo">Pofissionais de saúde tem a obrigação de explicar a finalidade de cada intervenção ou tratamento, riscos e alternativas disponíveis.</p>
<br>
<p id="tituloparagrafo">Em relação ao(à) Acompanhante</p>

<p id="paragrafo">A mulher tem o direito de estar acompanhada durante sua permanência no estabelecimento de saúde, sendo no trabalho de parto, parto e pós-parto imediato.</p>

<p id="paragrafo">Quem escolhe o(a) acompanhante é a parturiente (mulher que está em trabalho de parto ou que acabou de dar a luz) e pode ser homem ou mulher e não precisa ser o pai da criança.</p>

<p id="paragrafo">A doula não se confunde com o(a) acompanhante da lei nº 11.108/2005. Desta forma, a gestante pode ter a companhia de sua doula, acrescentada à companhia de um acompanhante de sua escolha.  </p>
<br>
<p id="tituloparagrafo">Em relação à Equipe Médica</p>
<p id="paragrafo">A equipe médica, irá, a todo momento: Esclarecer dúvidas,
  conduzir entrevista com técnicas para avaliar e diagnosticar a situação gestacional,
  Realizar exame físico, sempre com a avaliação de sinais e sintomas de alerta que podem aparecer,
  Verificar a pressão arterial e ausculta dos batimentos do coração do bebê,
  Solicitar outros exames e/ou avaliar seus resultados,
  informar sobre a situação atual da gestante e do bebê, orientando os próximos passos.</p>
  <br>
  <p id="tituloparagrafo">O Ministério da Saúde</p>

  <p id="paragrafo">O Ministério da Saúde reconhece como direito da mulher um atendimento justo e humanizado desde o início da gestação até o nascimento da criança.</p>

  <p id="paragrafo">Portaria 569/2000 – Institui o Programa de Humanização no Pré-Natal e Nascimento, no âmbito do SUS – prevê o direito de atendimento digno, humanizado e de qualidade na gestação, parto e puerpério e traça os princípios gerais e condições para o adequado acompanhamento do pré-natal e para a adequada assistência ao parto.</p>

  <p id="paragrafo"> Portaria 1.067/2005 – Diz que é dever dos serviços e profissionais de saúde acolher com dignidade a mulher e o recém-nascido, enfocando-os como sujeitos de direitos e que a atenção com qualidade e humanizada depende de rotinas com procedimentos comprovadamente benéficos, evitando--se intervenções desnecessárias, e do estabelecimento de relações baseadas em princípios éticos, garantindo a privacidade, a autonomia e compartilhando com a mulher e sua família as decisões sobre as condutas a serem adotadas.</p>

  <p id="paragrafo"> Portaria 371/2014 – Assegura o contato pele a pele mãe e bebê logo após o parto, o aleitamento materno na primeira hora e o clampeamento do cordão umbilical (corte) após cessadas suas pulsações, quando as condições de saúde do bebê são adequadas.</p>

  <p id="paragrafo">1. Os Estados-parte adotarão todas as medidas apropriadas para eliminar a discriminação contra a mulher na esfera dos cuidados médicos a fim de assegurar, em condições de igualdade entre homens e mulheres, o acesso à serviços médicos, inclusive os referentes ao planejamento familiar.</p>

  <p id="paragrafo">2. Sem prejuízo do disposto no parágrafo 1º, os Estados-parte garantirão à mulher assistência apropriada em relação à gravidez, ao parto e ao período posterior ao parto, proporcionando assistência gratuita quando assim for necessário, e lhe assegurarão uma nutrição adequada durante a gravidez e a lactância.</p>



</ion-content>
