<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA ZERO</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <p id="titulo" style="font-family: faberge; font-weight: bold;" >MEUS DIREITOS</p>
  <img id="imagemjustice" src="..\assets\Imagens\balance.png"> 
  <hr>
  
  <p id="paragrafo">- Lei do vínculo à maternidade nº 11.634/2007: Garante à gestante o direito de saber, desde
     a inscrição no programa de assistência pré-natal, em qual maternidade realizará o parto e onde será 
     atendida em casos de intercorrência.</p>
     
  <p id="paragrafo">    - Lei do direito ao acompanhante nº 11.108/2005: Assegura à gestante o direito de ser acompanhada por
    uma pessoa de sua escolha durante sua permanência no estabelecimento de saúde.</p>

  <p id="paragrafo">    - Liberdade de escolha do acompanhante: A escolha do(a) acompanhante é da parturiente, podendo ser homem
    ou mulher, e não necessariamente o pai da criança.</p>

  <p id="paragrafo">    - Informação sobre o estado de saúde: A mulher tem direito a ser informada sobre seu estado de saúde, os
    procedimentos indicados e os profissionais de saúde têm a obrigação de explicar a finalidade de cada
     intervenção ou tratamento, além de fornecer informações sobre os riscos e as alternativas disponíveis.</p>

  <p id="paragrafo">    - Distinção entre doula e acompanhante: A presença de uma doula, profissional especializada em oferecer
    suporte emocional e físico durante o parto, é garantida por lei e não se confunde com o(a) acompanhante
     previsto na lei nº 11.108/2005. A mulher pode ter tanto uma doula quanto uma pessoa de sua livre escolha
      como acompanhante.</p>

  <p id="tituloparagrafo"> Referências</p>

  <p id="referencias">    - Lei nº 11.634/2007 - Dispõe sobre o direito da gestante ao conhecimento e vinculação à maternidade onde
    receberá assistência no âmbito do Sistema Único de Saúde (SUS).</p>
    
  <p id="referencias">    - Lei nº 11.108/2005 - Dispõe sobre o direito da mulher a ser acompanhada por uma pessoa de sua escolha
    durante o trabalho de parto, parto e pós-parto imediato, no âmbito do Sistema Único de Saúde (SUS).</p>

</ion-content>
