ion-button {
    margin-top: 5%;
    font-size: 24px;
    color: rgb(232, 72, 120);
    font-weight: bold;
    font-family: 'nunito';
    width: 100%;
    --background:white;
  }

 #img1 {
  display: block;
  margin-left: 4%;
  margin-top: 70px;
  height:80%;
  width: 100%;
  }

  ion-content{
    --background:rgb(255, 255, 255);
    }
    