<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA ZERO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p id="titulo">QUEM PRATICA?</p>
  <img id="imagemdoctor" src="..\assets\Imagens\doctor.png">
  <hr>


  <p id="paragrafo">A violência obstétrica pode ser cometida por diferentes atores envolvidos no cuidado e 
    assistência ao parto. Os principais perpetradores da violência obstétrica incluem: </p>
    <p id="paragrafo">1. Profissionais de saúde: Isso pode envolver médicos obstetras, enfermeiros obstétricos,
       parteiras, técnicos de enfermagem e outros profissionais de saúde envolvidos no atendimento ao parto. 
       Alguns profissionais podem adotar comportamentos abusivos, desrespeitosos, coercitivos ou negligentes
        durante o processo de assistência.
     </p>
    <p id="paragrafo"> 2. Equipe hospitalar: Além dos profissionais de saúde, outros membros da equipe 
      hospitalar, como recepcionistas, funcionários administrativos, seguranças e auxiliares, também podem
       estar envolvidos em práticas de violência obstétrica, principalmente no que diz respeito à falta de 
       acolhimento, respeito e privacidade.</p>
    <p id="paragrafo"> 3. Sistema de saúde: As próprias estruturas e políticas de saúde podem contribuir para 
      a ocorrência de violência obstétrica. Isso inclui a falta de protocolos claros, falta de treinamento 
      adequado para os profissionais de saúde, sobrecarga de trabalho, falta de recursos e equipamentos 
      adequados, entre outros fatores institucionais.
    </p>
    <p id="paragrafo">  
    É fundamental lembrar que nem todos os profissionais de saúde cometem violência obstétrica e que muitos 
    trabalham diariamente para promover uma assistência respeitosa e baseada em evidências. No entanto,
     é necessário combater ativamente a violência obstétrica por meio da conscientização, da capacitação
      dos profissionais de saúde e da implementação de políticas e práticas que garantam o respeito aos
       direitos das mulheres durante o parto e nascimento.
    </p>
 
  
</ion-content>
