<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p id="titulo">QUEM PRATICA?</p>
  <img id="imagemdoctor" src="..\assets\Imagens\doctor.png">
  <hr>


  <p id="paragrafo">A violência obstétrica é praticada por quem realiza a
    assistência obstétrica. Pode ocorrer desde o início da gestação até dias após o parto.</p>
  <p id="paragrafo">Médicos(as), enfermeiros(as), técnicos(as) em enfermagem, obstetrizes ou qualquer outro rofissional que preste em algum momento esse tipo de assistência pode ser autor da violência.</p>
  
</ion-content>
