<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title  style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA ZERO</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <p id="titulo" style="font-family: faberge; font-weight: bold;" >COMO REGISTRAR SEU CASO</p>
  <img id="imagembalao" src="..\assets\Imagens\telephone.png">
  <hr>
  <br>

  <p id="paragrafo">Registrar o caso de violência obstétrica é um passo importante para combater essa prática e garantir que os direitos das mulheres sejam respeitados durante o parto. Aqui estão algumas opções para relatar a violência obstétrica:</p>
  
  <img style="width: 55px; height:50px; " src="..\assets\Imagens\telefonista.png">
  <br>
  <p id="tituloparagrafo">Ouvidorias e canais de atendimento das instituições de saúde</p>
  <p id="paragrafo"> Entre em contato com a ouvidoria ou o setor de atendimento das instituições de saúde onde ocorreu a violência obstétrica. </p>
  <br>

  <p id="tituloparagrafo">Agências reguladoras e órgãos de fiscalização</p>
  <p id="paragrafo"> No Brasil, a Agência Nacional de Saúde Suplementar (ANS) e a Agência Nacional de Vigilância Sanitária (Anvisa) são responsáveis por regular e fiscalizar os serviços de saúde. </p>
  <p id="tituloparagrafo">Site</p>
  <ion-button id="botao180"  fill="clear" href="https://www.gov.br/ans/pt-br/canais_atendimento/canais-de-atendimento-ao-consumidor">ANS</ion-button>
<br>
<p id="tituloparagrafo">Planos de Saúde</p>
<ion-button id="botao180"  fill="clear" href="https://www.ans.gov.br/nip_solicitante/">Planos de Saúde</ion-button>
<p id="tituloparagrafo">Disque ANS</p>
  <ion-button id="botao180" style="    border-radius: 35%;" fill="clear" href="tel:08007019656">ANS</ion-button> 

  <br>
  <br>

  <p id="tituloparagrafo">Ministério Público e Defensoria Pública</p>
  <p id="paragrafo"> Caso o registro não seja adequadamente tratado pelas instituições de saúde, é possível procurar o Ministério Público ou a Defensoria Pública para relatar o ocorrido. Esses órgãos podem tomar medidas legais para responsabilizar os envolvidos na violência obstétrica e buscar reparação para as mulheres afetadas. </p>
  <p id="tituloparagrafo">Site</p>
  <ion-button id="botao180"  fill="clear" href="https://www.cnmp.mp.br/portal/institucional/corregedoria/reclamacoes-e-denuncias/como-formular-uma-denuncia">MP</ion-button>

  <br>
  <br>
  <p id="tituloparagrafo">Ouvidoria do Sistema Único de Saúde (SUS)</p>
  <p id="paragrafo">  Se o parto ocorreu em uma instituição pública de saúde, é possível recorrer à ouvidoria do SUS para realizar o registro.</p>
  <p id="tituloparagrafo">Site</p>
  <ion-button id="botao180"  fill="clear" href="https://www.gov.br/ans/pt-br/canais_atendimento/canais-de-atendimento-ao-consumidor">SUS</ion-button>
  <p id="tituloparagrafo">Disque Saúde</p>
  <ion-button id="botao180" style="    border-radius: 35%;" fill="clear" href="tel:136">SUS</ion-button> 


  <br>
  <br>
  <p id="tituloparagrafo"> Conselho Regional de Medicina (CRM)</p>
  <p id="tituloparagrafo">Site</p>
  <ion-button id="botao180"  fill="clear" href="https://portal.cfm.org.br/">CRM</ion-button>
  
  <br>
  <br>
  <p id="tituloparagrafo"> Conselho Regional de Enfermagem (Coren) </p>
  <p id="tituloparagrafo">Site</p>
  <ion-button id="botao180"  fill="clear" href="https://ouvidoria.cofen.gov.br/coren-sp/">Coren</ion-button>
  <br>
  <br>
  
    <br>
   <p id="tituloparagrafo" >Delegacia de Defesa da Mulher</p>
   <br>
   <ion-button id="botao180"  fill="clear" href="https://www.ssp.sp.gov.br/fale/institucional/answers.aspx?t=7">DDM</ion-button>
 
   <p id="paragrafo">A Delegacia de Defesa da Mulher, mais conhecida como Delegacia da Mulher, é um órgão público brasileiro criado para o combate à violência contra as mulheres. Onde tem por princípios:</p>
    <p id="paragrafo">Assegurar tranquilidade à população feminina vítima de violência, através das atividades de investigação, prevenção e repressão dos delitos praticados contra a mulher;<br>
      Auxiliar as mulheres agredidas, seus autores e familiares a encontrarem o caminho da não violência, através de trabalho preventivo, educativo e curativo efetuado pelos setores jurídico e psicossocial.</p>
  <br>
<p id="paragrafo"><b>É importante documentar todas as informações relevantes sobre a violência obstétrica, como relatos, testemunhas, fotos ou vídeos, caso estejam disponíveis. Isso pode fortalecer sua denúncia e ajudar nas investigações.</b></p>
  
      <br>

      <p id="tituloparagrafo" >Referências</p>
      <p id="referencias">- Conselho Regional de Medicina (CRM) - Site Oficial</p>
      <p id="referencias">- Conselho Regional de Enfermagem (Coren) - Site Oficial</p>
      <p id="referencias">- Ministério da Saúde. (2014). Pré-natal e puerpério: atenção qualificada e humanizada - manual técnico. Brasília: Ministério da Saúde.</p>
      <p id="referencias">- Ministério da Saúde. (2015). Humanização do parto e do nascimento: diretrizes e recomendações. Brasília: Ministério da Saúde.</p>
 
</ion-content>
