<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <ion-title  style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA ZERO</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <p id="titulo">COMO DENUNCIAR</p>
  <img id="imagembalao" src="..\assets\Imagens\telephone.png">
  <hr>
  <br>

  <p id="paragrafo">Denunciar a violência obstétrica é um passo importante para combater essa prática e garantir que os direitos das mulheres sejam respeitados durante o parto. Aqui estão algumas opções para denunciar a violência obstétrica:</p>
  <p id="paragrafo">1. Ouvidorias e canais de atendimento das instituições de saúde: Entre em contato com a ouvidoria ou o setor de atendimento das instituições de saúde onde ocorreu a violência obstétrica. </p>



  <p id="tituloparagrafo">Central de Atendimento à Mulher</p>
<br>
  <ion-button id="botao180" style="    border-radius: 35%;" fill="clear" href="tel:180">Ligue 180</ion-button>

  <p id="paragrafo">Ligue 180 presta uma escuta e ajuda qualificada às mulheres em situação de violência. </p>
  <p id="paragrafo">  O serviço registra e encaminha denúncias de violência contra a mulher aos òrgãos competentes, bem como reclamações e sugestões.</p><br>
  <img style="width: 55px; height:50px; " src="..\assets\Imagens\telefonista.png">
  <br>
  <p id="paragrafo"> O serviço também fornece informações sobre os direitos da mulher, como os locais de atendimento mais próximos e apropriados para cada caso: Casa da Mulher Brasileira, Centros de Referências,
     Delegacias de Atendimento à Mulher (Deam), Defensorias Públicas, Núcleos Integrados de Atendimento às Mulheres, entre outros.</p>
  <p id="paragrafo">Saiba mais sobre o serviço <a href="https://www.gov.br/mdh/pt-br/ligue180" style="color: black;">Ligue 180</a></p>

    <br>
   <p id="tituloparagrafo" >Delegacia de Defesa da Mulher</p>
   <br>
   <ion-button id="botao180"  fill="clear" href="https://www.ssp.sp.gov.br/fale/institucional/answers.aspx?t=7">DDM</ion-button>

   <p id="paragrafo">A Delegacia de Defesa da Mulher, mais conhecida como Delegacia da Mulher, é um órgão público brasileiro criado para o combate à violência contra as mulheres. Onde tem por princípios:</p>
    <p id="paragrafo">Assegurar tranquilidade à população feminina vítima de violência, através das atividades de investigação, prevenção e repressão dos delitos praticados contra a mulher;<br>
      Auxiliar as mulheres agredidas, seus autores e familiares a encontrarem o caminho da não violência, através de trabalho preventivo, educativo e curativo efetuado pelos setores jurídico e psicossocial.</p>

      <br>
   <p id="tituloparagrafo">Serviço de Atendimento Móvel de Urgência</p>
   <br>
  <ion-button id="botao180"  fill="clear" href="tel:192">192</ion-button>

      <p id="paragrafo">O SAMU é um serviço brasileiro de atendimento médico pré-hospitalar, acionado em casos de emergência, com finalidade de melhorar o atendimento à população</p>
      <p id="paragrafo">O serviço SAMU 192 presta socorro a população nas residências, locais de trabalho e vias públicas. A equipe é composta por condutores-socorristas, técnicos em enfermagem, enfermeiros e médicos, todos capacitados em atendimento de urgência de natureza traumática, clínica, pediátrica, obstétricas e psiquiátricas.

        É responsável pela regulação de todos os atendimentos de urgência via telefone, pelos atendimentos móveis que dispensam as viaturas e pelas transferências de pacientes aos hospitais</p>

        <br>
      <p id="tituloparagrafo">Bombeiros</p>
      <br>
      <ion-button id="botao180"  fill="clear" href="tel:193">193</ion-button>

      <p id="paragrafo">Bombeiros são entidades da Proteção Civil cujos membros são treinados para atuarem em caso de incêndios, para resgatar pessoas de acidentes de trânsito, desmoronamentos de edifícios, desastres naturais, salvamento em grande ângulo. Fornecem socorro de emergência médica e pré-hospitalar.</p>

      <br>
      <p id="tituloparagrafo">Policia Militar</p>
      <br>
      <ion-button id="botao180"  fill="clear" href="tel:190">190</ion-button>

      <p id="paragrafo">No Brasil, as Polícias Militares estaduais são as 27 forças de segurança pública que têm por função a polícia ostensiva e a preservação da ordem pública</p>

</ion-content>
