<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title  style="font-size: 90%;">VIOLÊNCIA OBSTÉTRICA</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>

  <p id="titulo">COMO PREVENIR</p>
  <img id="imagembanned" src="..\assets\Imagens\privacy.png">
  <hr>

  <ul id="paragrafo" style="margin-left: -10px;">
  <li> Visite a maternidade/hospital antes do parto. É um direito
    da gestante e com isso ela já se informa sobre as práticas
    adotadas pela instituição hospitalar.</li>
    <li>  Entregue (protocole) na maternidade / hospital, com antecedência, seu plano de parto, que é um documento com indicações daquilo que a mulher deseja para o seu parto recomendado pela Organização Mundial da Saúde. O ideal é que
    a mulher construa seu plano de parto juntamente com os
    profissionais de saúde que a atendem porque é uma forma
    de estabelecer o diálogo sincero e transparente entre as partes envolvidas.</li>
    <li> Tenha sempre um(a) acompanhante, pois a presença de outra pessoa, sem dúvidas, previne a violência obstétrica. E é
    um direito garantido pela lei.</li>
  </ul>
  <img id="imagembanned" src="..\assets\Imagens\people.png">

  <ul id="paragrafo" style="margin-left: -10px;">
    <li>  Não tenha medo de perguntar algo para o médico ou equipe médica, seja qual for o tema da pergunta.</li>
  </ul>
  

</ion-content>
